/*------------------------------------*\
    #Features
\*------------------------------------*/
.features {
	.feature-panel {
		margin-top: 48px;
		padding: 68px 20px 30px;
		border-radius: 12px;
		position: relative;
		box-shadow: none;
		cursor: pointer;
		display: flex;
		flex-direction: column;
		transition: 0.4s ease-in-out;

		&:hover {
			transform: translateY(-15px);
		}

		@media #{$maxTablet} {
			align-items: center;
			max-width: 370px;
			margin: 0 auto 90px auto;
		}

		.feature-icon {
			position: relative;
			display: flex;
			align-items: center;
			justify-content: center;
			position: absolute;
			left: 50%;
			top: -48px;
			transform: translateX(-50%);
			width: 103px;
			height: 96px;
			color: $color-theme;
			background-color: $color-white;
			border-radius: 22px;
			box-shadow: #dbdbdb78 0px 10px 40px;

			.bg-img {
				position: absolute;
				top: 23px;
				right: 14px;
				z-index: -1;
			}
		}

		.feature-content {
			h3 {
				font-family: $font-heading;
				font-size: 20px;
				font-weight: 600;
				line-height: 27px;
				margin-bottom: 11px;
				text-transform: capitalize;
			}

			p {
				font-family: $font-body;
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				color: $color-body2;
				margin-bottom: 0;
			}
		}

		&.feature-panel-1 {
			background-color: #e9f2f4;
		}

		&.feature-panel-2 {
			background-color: #ece6f2;
		}

		&.feature-panel-3 {
			background-color: #ede8e1;
		}

		&.feature-panel-4 {
			background-color: #def4ef;
		}
	}
}

/*------------------------------------*\
    #About
\*------------------------------------*/
.about {
	.heading {
		@media #{$maxTablet} {
			align-items: center;
		}
	}

	img {
		@media #{$maxTablet} {
			display: block;
			margin: 0 auto 30px auto;
		}
	}
}

/*------------------------------------*\
    #Processes
\*------------------------------------*/
.processes {
	.process-panels-container {
		position: relative;
		display: grid;
		grid-template-rows: auto;
		grid-row-gap: 50px;
		@media #{$minLarge} {
			grid-template-columns: 1fr 1fr 1fr;
			grid-column-gap: 40px;
		}

		@media #{$minXlarge} {
			grid-column-gap: 74px;
			grid-template-columns: 1fr 1fr 1fr;
		}

		.divider {
			@media #{$minLarge} {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				left: 0;
				right: 0;
				z-index: 1;
				background-image: url('src/images/cover/dot-line.png');
				background-size: contain;
				height: 50px;
				background-repeat: no-repeat;
				background-position-x: center;
			}
		}

		.process-panel {
			box-shadow: 0 10px 40px rgba(219, 219, 219, 0.45);
			border-radius: 10px;
			background-color: $color-white;
			padding: 45px 20px;
			transition: 0.4s ease-in-out;
			position: relative;
			z-index: 2;

			&:hover {
				transform: translateY(-15px);
			}

			cursor: pointer;

			@media #{$maxTablet} {
				text-align: center;
				max-width: 370px;
				margin-right: auto;
				margin-left: auto;
			}

			.process-phase {
				margin-bottom: 25px;

				p {
					padding: 8px 15px;
					display: inline-block;
					border-radius: 18px;
					background-color: #e9f2f4;
					text-transform: capitalize;
					font-family: $font-heading;
					font-size: 15px;
					font-weight: 400;
					margin-bottom: 0;
				}
			}

			.process-name {
				font-family: $font-heading;
				text-transform: capitalize;
				font-weight: 600;
				font-size: 22px;
				line-height: 27px;
				margin-bottom: 20px;
			}

			.process-desc {
				font-family: $font-body;
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				margin-bottom: 0;
				color: $color-body2;
			}

			&.process-panel-1 {
				.process-phase {
					p {
						background-color: #e9f2f4;
					}
				}
			}

			&.process-panel-2 {
				.process-phase {
					p {
						background-color: #eae4ef;
					}
				}
			}

			&.process-panel-3 {
				.process-phase {
					p {
						background-color: #ece7e0;
					}
				}
			}
		}
	}
}
