/*------------------------------------*\
    #Hero
\*------------------------------------*/

.hero {
	padding-top: 20px;
	overflow: visible;
	position: relative;
	background-color: $color-pink;

	@media #{$maxTablet} {
		padding: 100px 0;
	}

	.hero-container {
		position: relative;

		.hero-bg {
			position: absolute;
			top: 0;
			right: 0;
			width: 50%;

			@media #{$maxTablet} {
				top: 50%;
				width: 100%;
			}

			img {
				max-width: 100%;
				position: absolute;
				top: 0;
				right: 0;
			}
		}

		.hero-content {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;

			@media #{$maxTablet} {
				align-items: center;
				text-align: center;
			}

			.card-alert {
				border-radius: 27px;
				background-color: #f6f0fd;
				padding: 6px;
				display: flex;
				align-items: center;
				margin-bottom: 32px;

				@media #{$maxSmall} {
					text-align: left;
				}

				@media #{$minTablet} {
					padding-right: 20px;
				}

				@media #{$minLarge} {
					width: 470px;
					padding-right: 6px;
				}

				.btn {
					width: 99px;
					height: 40px;
					font-size: 15px;
					font-weight: 700;
					font-family: $font-body;
					background-color: $color-theme;
					border-radius: 38px;
					color: $color-white;
					margin-right: 27px;
				}

				span {
					font-family: $font-body;
					font-size: 18px;
					font-weight: 400;
					color: #919294;
				}
			}

			.hero-headline {
				color: $color-heading;
				font-family: $font-heading;
				font-size: 48px;
				font-weight: 700;
				line-height: 65px;
				margin-bottom: 28px;
				text-transform: capitalize;

				@media #{$maxSmall} {
					font-size: 34px;
					line-height: 1.2;
				}
			}

			.hero-bio {
				color: $color-body;
				font-family: $font-body;
				font-size: 18px;
				font-weight: 400;
				line-height: 28px;
				margin-bottom: 45px;
			}

			.hero-action {
				display: flex;

				.btn {
					width: 195px;
					height: 72px;
					font-size: 18px;
					margin-right: 22px;

					svg {
						fill: $color-white;
						margin-right: 11px;
					}
				}

				@media screen and (max-width: 991px) {
					margin-bottom: 30px;
				}

				.contact-body {
					.contactForm {
						position: relative;

						.form-control {
							margin-bottom: 0;
							background-color: $color-white;
							border-radius: 4px;
							padding-left: 40px;
							padding-right: 250px;
							border-bottom: 0;

							@media #{$maxSmall} {
								padding-left: 6px;
								padding-right: 200px;
							}
						}

						.btn {
							position: absolute;
							top: 3px;
							right: 3px;

							@media #{$maxSmall} {
								width: 170px;
							}
						}
					}
				}

				.form-action {
					position: relative;
					max-width: 600px;
					margin-right: auto;
					margin-left: auto;

					.input-group {
						border: none;
						height: 65px;
						padding: 7px;
						border-radius: 6px;
						background-color: $color-white;

						.btn {
							width: 170px;
							height: 50px;
							line-height: 50px;

							.icon {
								margin-left: 10px;
							}

							@media #{$maxSmall} {
								width: 120px;
							}
						}
					}

					.form-control {
						margin-bottom: 0;
						border-radius: 0;
						padding-left: 24px;
						padding-right: 200px;
						border-bottom: 0;
						width: calc(100% - 170px);
						height: 50px;

						@media #{$maxSmall} {
							padding-left: 25px;
							padding-right: 130px;
							width: calc(100% - 120px);
						}
					}

					.btn {
						position: absolute;
						top: 7px;
						right: 7px;
						z-index: 60;

						&:hover,
						&:focus {
							background-color: $color-hover;
						}
					}
				}
			}

			.form-mailchimp {
				.input-group {
					padding-left: 25px;

					.input-icon {
						width: calc(100% - 180px);

						@media screen and (max-width: 467px) {
							width: 100%;
							text-align: center;
							margin-bottom: 15px;
						}

						.form-control {
							font-size: 18px;
						}

						svg {
							margin-right: 10px;
							width: 25px;
						}
					}

					.btn {
						width: 160px;

						@media screen and (max-width: 467px) {
							width: 100%;
						}

						@media screen and (min-width: 468px) and (max-width: 467px) {
							width: 120px;
						}

						span {
							font-size: 16px;
						}
					}
				}
			}
		}

		.hero-image {
			overflow: visible;
		}
	}

	&.hero-light {
		.hero-container {
			.hero-content {
				.hero-headline {
					color: $color-white;
				}

				.hero-bio {
					color: #f8f9fa;
				}
			}
		}
	}
}

.divider-shape {
	position: absolute;
	top: auto;
	right: 0;
	bottom: 0;
	left: 0;
}

.divider-shape-top {
	position: absolute;
	top: 0;
	right: 0;
	bottom: auto;
	left: 0;
}

.divider-rotate {
	transform: rotate(180deg);
	margin-top: -170px;
	height: 170px;

	@media screen and (max-width: 575px) {
		height: 100px;
		margin-top: -100px;
	}
}

.divider-shape-bottom {
	position: absolute;
	bottom: 0;
	right: 0;
	left: 0;
}
