@import './scss/styles.scss';

.app-store-download-button {
	cursor: initial;
	height: 90px;
	margin-bottom: 45px;

	> svg {
		cursor: pointer;
	}

	@media screen and (max-width: 767px) {
		height: 70px;
	}
}

.hero-container .hero-image {
	text-align: center;
	height: 630px;

	img {
		object-fit: contain;
		height: 100%;
	}

	@media screen and (max-width: 767px) {
		height: 330px;
	}
}
